.container1 {
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, minmax(200px, auto));
    background-color: white;
    border: 2px solid lightsalmon;
    border-radius: 10px;
}

.container2 {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100% 50% 50%;
}

.container3 {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 100%);
    grid-auto-rows: 50%;
}

.cell {
    border: 2px solid orange;
    border-radius: 5px;
    background-color: bisque;
    color: lightsalmon;
    text-align: left;
    padding: 10px;
}