header a{
    list-style: none;
    text-decoration: none;
    color: orange;
}

img {
    height: 200px;
    width: auto;
}




main {
    background-color: white;
    margin: 0px 15px 0px 20px;
    border: 2px outset white;
    border-radius: 20px;
    box-shadow: 0px 6px 6px 0px grey;
    padding: 5px;
    
    display: inline-block;
    justify-content: center;
}

div {
    background-color: orange;
    padding: 20px;
    color: black;
}

.block-format {
    background-color: white;
    color: black;
    margin: 5px;
    padding: 10px 20px;
}

.indent{
    padding: 0px 10px;
}